.icons
{
    position: relative;
    top: 25px;
}

.example-icon{
    border: none;
    background-color:transparent;
    // position: relative;
    // right:200px;
}
.Remindmebutton{
    width: 20px;
    position: relative;
    right:600px;
    cursor: pointer;
}
.Collabbutton{
    width: 20px;
    position: relative;
    right:570px;
    cursor: pointer;
}

.BackOptionsbutton{
    width: 20px;
    position: relative;
    right:540px;
    cursor: pointer;
}
    
.AddImagebutton {
    width: 20px;
    position: relative;
     right:510px;
     cursor: pointer;
 }

 .Archivebutton{
    width: 20px;
    position: relative;
     right:480px;
     cursor: pointer;
 }

.Morebutton{
    width: 20px;
    position: relative;
     right:450px;
     cursor: pointer;
  }