<div class="dashboard-container">
    <mat-toolbar>
        <div class="menu-button">
          <button mat-icon-button (click)="opened=!opened" class="example-icon" aria-label="Example icon-button with menu icon">
          <img class="menuicon" src="../../../assets/menu_FILL0_wght400_GRAD0_opsz48.svg" alt="">
          </button>
        </div>

        <div class="keepimageandbutton">
            <img class="keepimg" src="../../../assets/keep_2020q4_48dp.png" alt="">
        </div>

        <span class="fundoo">Fundoo</span>
         <div class="Search">
          <input class="Searchclass" type="text" matInput placeholder="Search">
            <!-- <img class="searchicon" src="../../../assets/search_FILL0_wght400_GRAD0_opsz48 (2).svg" alt=""> -->
            </div>  
           <div class="refreshandsetting">
            <button class="example-icon" aria-label="Example icon-button with menu icon">
              <img class="refreshbutton" src="../../../assets/refresh_FILL0_wght400_GRAD0_opsz48.svg"alt="">
             </button>
              </div>
              <div class="viewbuttonclass">
               <button mat-icon-button class="example-icon" aria-label="Example icon-button with menu icon">
                <img class="viewbutton" src="../../../assets/view_agenda_FILL0_wght400_GRAD0_opsz48.svg" alt="">
              </button> 
             </div>
             <div class="settingbuttonclass">
              <button mat-icon-button class="example-icon" aria-label="Example icon-button with menu icon">
                <img class="settingbutton" src="../../../assets/settings_FILL0_wght400_GRAD0_opsz48.svg" alt="">
              </button>
              </div>
              <div class="appbuttonclass">
              <button mat-icon-button class="example-icon" aria-label="Example icon-button with menu icon">
                <img class="appbutton" src="../../../assets/apps_FILL0_wght400_GRAD0_opsz48.svg" alt="">
              </button>
              </div>
              <div class="accountbuttonclass">
               <button  mat-icon-button class="example-icon" aria-label="Example icon-button with menu icon">
               <img class="accountbutton" src="../../../assets/account_circle_FILL0_wght400_GRAD0_opsz48.svg" alt="">
              </button>
               </div>  
         </mat-toolbar>

         <mat-sidenav-container class="sidenav-container">
          <mat-sidenav [(opened)]="opened" mode="side">
            
              <mat-nav-list class="list">
                  <a mat-list-item   class="sidebar">
                  <img  src="../../../assets/lightbulb_FILL0_wght400_GRAD0_opsz48.svg" width="30" height="30"><span class="Remindersnav"> Notes </span>
                  </a>
                   <a mat-list-item  class="sidebar">
                      <img  src="../../../assets/notifications_FILL0_wght400_GRAD0_opsz48.svg" width="30" height="30"><span class="Remindersnav"> Reminders </span>
                  </a> 
                  <a mat-list-item  class="sidebar">
                      <img  src="../../../assets/edit_FILL0_wght400_GRAD0_opsz48.svg" width="30" height="30"><span class="Remindersnav"> Edit labels  </span>
                  </a>
                  <a mat-list-item  class="sidebar">
                      <img  src="../../../assets/archive_FILL0_wght400_GRAD0_opsz48.svg" width="30" height="30"><span class="Remindersnav"> Archieve </span>
                  </a>
                  <a mat-list-item  class="sidebar">
                      <img  src="../../../assets/delete_FILL0_wght400_GRAD0_opsz48.svg" width="30" height="30" ><span class="Remindersnav"> Trash </span>
                  </a> -->
              </mat-nav-list>
            </mat-sidenav>
            </mat-sidenav-container>
          <div class="notes-container"><router-outlet></router-outlet>
          </div>

        

      