.create-notes-container{
    display: flex;
    justify-content: center;
    position: relative;
    bottom: 400px;
    left: 300px;;
}
// .takeanote{
//     display: flex;
//     justify-content: center;
//     position: relative;
//     top: 30px;
// }




.note1{
    position: relative;
    width: 700px;
    height:3rem;
    font-size: 18px;
    right: 300px;
    border-radius: 0.5rem;
    font-family: "Product Sans",Arial,sans-serif;
    //margin-left: 300px;
    color: black;
    box-shadow: 0 0 10px #888888;
    border: none;
    bottom:40px;
}
.example-icon{
    border: none;
    background-color:transparent;
    cursor: pointer;
}
.closebuttonimg{
    //display: flex;
    //justify-content: center;
    position: relative;
    width: 30px;
    right: 490px;
    // left: -220px;
    bottom: 30px;


}
.brush{
    position: relative;
    width: 30px;
    right: 470px;
    //top: 10px;
    bottom: 30px;

}
.insertphoto{
    position: relative;
    width: 30px;
    right: 450px;
   // top: 10px;
   bottom: 30px;

}
.note2
{
    position: relative;
    bottom:53px;
      width: 700px;
     height:3rem;
     font-size: 18px;
     //left: 308px;
     right: 300px;
     font-family: "Product Sans",Arial,sans-serif;
     border-radius: 0.5rem;
     border-bottom: none;
     box-shadow: 2px 5px #888888;
    border: none;
     
     
 }
 .pin{
    position: relative;
    width: 30px;
    cursor: pointer;
    right: 360px;
    bottom:45px;
    border-radius: 0.5rem;


 }

 
.note3{
    // display: flex;
    // justify-content: center;
     position: relative;
     width: 700px;
     height:6rem;
     font-size: 18px;
     right: 300px;
     font-family: "Product Sans",Arial,sans-serif;
     bottom:53px;
     border-top: none;
     border-radius: 0.5rem;
     box-shadow: 2px 5px #888888;
    border: none;
     
}
.undo{
    width: 20px;
    position: relative;
    right: 600px;
    cursor: pointer;
    bottom:20px;

}
.redo{
    width: 20px;
    position: relative;
    right: 570px;
    cursor: pointer;
    bottom:20px;
}
.closebutton{
    position: relative;
   left:330px;
   // top:10px;
    //right:10px;
    bottom: 110px;
}
.closebuttonclass{
    border: none;
    background-color:transparent;
     cursor: pointer;
    font-size: 15px;
    font-family: "Product Sans",Arial,sans-serif;
    position: relative;
    bottom: 55px;
}
