<div class="container">
    <div class="heading">
        <span class="color1">F</span>
        <span class="color2">u</span>
        <span class="color3">n</span>
        <span class="color4">d</span>
        <span class="color5">o</span>
        <span class="color6">o</span>
    </div>
    <div class="title1">
        <p>Sign in</p>

    </div>
    <div class="title2">
        <p>Use your Fundoo Account</p>

    </div>
    <form [formGroup]="signinForm "(ngSubmit)="LoginSubmit()" >

        <div class="login-info1">
            <mat-form-field appearance="outline">
                <mat-label>Email or phone</mat-label>
                <input type="text" formControlName="emailId" matInput placeholder="Email or phone">
                <mat-error>Enter an email or phone number</mat-error>
            </mat-form-field>
        </div>
        <div class="login-info2">
            <mat-form-field appearance="outline">
                <mat-label>Password</mat-label>
                <input type="text" formControlName="password" matInput placeholder="Password">
                <mat-error>Enter a password</mat-error>
            </mat-form-field>

        </div>
        <div class="show-pass"><input type="checkbox">
            <label>Show Password</label>
        </div>

        <div class="forgotemailbutton">
            <button class="button1" routerLink="/forgotemail">Forgotemail?</button>
        </div>
        <div class="createacc">
            <button class="button2" routerLink="/registration">Createaccount</button>

        </div>
        <div class="nextbutton">
            <button class="button3">Next</button>

        </div>
    </form>
</div>